@using Wildhack.Models;

@{
    ViewBag.Title = "PenPal";
}

<!-- Bootstrap Core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="~/Content/business-casual.css" rel="stylesheet">

<!-- Bootstrap Switch -->
<link href="~/Content/bootstrap-switch.min.css" rel="stylesheet">

<!-- My CSS -->
<link href="~/Content/styles.css" rel="stylesheet">

<!-- Fonts -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<div class="brand">PenPal</div>
<div class="address-bar">Learn spanish with your virtual pen pal</div>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="index.html">PenPal</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        @*<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a>
                            <p>Translate</p>
                            <input type="checkbox" name="my-checkbox" id="translate-switch">
                        </a>
                    </li>
                    <li>
                        <a>
                            <p>Highlight</p>
                            <input type="checkbox" name="my-checkbox" id="highlight-switch" checked>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->*@
    </div>
    <!-- /.container -->
</nav>

<div class="container">
    <div class="box">
        <div class="row">
            <div class="col-lg-12" id="passage-box">
                <hr>
                <h2 class="intro-text text-center" id="title">
                    Hello from PenPal!
                </h2>
                <hr>
                @*<p id="passage">
                        Hello from PenPal!
                    </p>*@
            </div>
            <div class="col-lf-offset-6 col-lg-0" id="translated-passage-box">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Translation</strong>
                </h2>
                <hr>
                <p id="translated-passage">

                    Hi! I’m Jennifer! I am 9 years old. I live in Houston, Texas with my mother, father, and two brothers. I like going to school but I hate doing homework and taking exams. At school I study English, Spanish, Science, Social Studies and Mathematics. I love going to school and seeing my friends and teachers every day. I also like to play baseball after school. I don’t have a sister but my best friend Olga is just like my sister. We tell each other everything. We also study and watch TV together. When I grow up I’m going to be a nurse and take care of sick people.

                </p>
            </div>
        </div>
        <div class="row">
            <a class="btn btn1 btn-ghost" id="save-vocab" href="/articles/details/2?level=Beginner"><span>Read an article!</span></a>
            @*<a class="btn btn1 btn-ghost btn-skew" id="next-article"><span>Next Article</span></a>*@
        </div>
    </div>

    @*<div class="form-inline email-div">
            <input id="email" type="text" class="form-control" name="email" placeholder="Your Email">
            <button id="save" class="btn" onclick="sendEmail(1)">Send me new words!</button>
        </div>*@

</div>

<!-- jQuery -->
<script src="~/Scripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="~/Scripts/bootstrap.min.js"></script>

<!-- Bootstrap Switch -->
<script src="~/Scripts/bootstrap-switch.min.js"></script>

<!-- My JavaScript -->
<script src="~/Scripts/scripts.js"></script>

@*
    <script>
        $(document).ready(function () {
            /*
            window.onbeforeunload = function () {
                if (theUserHasStartedEditing) {
                    saveVocab(1);
                }
            }
            */
            $('p#passage span').tooltip({
                'delay': { show: 500 }
            });
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()

            $('p#passage').each(function () {
                var $this = $(this);
                $this.html($this.text().replace(/\b([A-Za-z\u00C0-\u017F]+)\b/g, "<span data-toggle='tooltip' data-placement='top' id=$1 onmouseenter='getTranslation($1)'>$1</span>"));
            });

            $('p#passage span').click(
                function () {
                    if ($('#highlight-switch').bootstrapSwitch('state')) {
                        if ($(this).hasClass("highlight")) {
                            $(this).removeClass("highlight");
                        }
                        else {
                            $(this).addClass("highlight");
                        }
                    }
                }
            );
        })

        function getTranslation(name) {
            console.log("Translating!!");
            console.log(name.attr("id"));
            $.ajax({
                type: "Get",
                url: '@Url.Action("../Articles/getTranslation")',
                traditional: true,
                data: { "name": name },
                success: function (translation) {
                    return translation;
                },
                error: function (request, errorType, errorMessage) {
                    console.log("Error: " + errorMessage);
                }
            });
        }
    </script>
*@